################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.idea
/.vs/ExistLogic/v15
/.vs
*/obj
*/bin
/ExistLogic.sln.DotSettings.user
