################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExistNet/v15
/.vs
/ExistNet/obj
/ExistNet.sln.DotSettings.user
